a{
    text-decoration:none;
    color:black;
    margin: 5px;
}

.main-page{
    display: grid;
    grid-template-rows: 1fr 2.5fr 3.5fr 3fr 1fr 1.5fr;
}
.nav-links{
    margin:0px 50px;
    font-weight: 500;
    font-size: larger;
}